@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts.scss";


  .intro__video-container{
      border-radius: 10px;
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
     
      @include mediaMd {
        width: 350px;
      }

      p{
        color: $dark;
        display: flex;
        justify-content: center;
        padding-top: 100px;
      } 
  }
  
  .intro__video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .intro__video-container iframe, .intro__video-container object, .intro__video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  