@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts.scss";

.course{
    &__header{
      width: 100%;
      height: 140px;
      overflow: hidden;
    }
    &__image{
      width: 100%;
      height: auto;
      display: block;
    }
    &__card--divider{
      height: 8px;
      background: $dark-grey; 
    }
    &__title{
      font-weight: bold;
      color: $h-color;
      font-family: $title-font !important;
      
    }
    &__content{
      font-family: $text-font;
      line-height: 1.5;
      font-size: 1em;
      padding: 15px;
      height: 140px;
      background: $white; 
      color: $h-color;
      
    }
}
