.about{
    background: #EFEFEF 0% 0% no-repeat padding-box;

    &__intro{
        display: grid;
        place-content: center;
        height: 50vh;
        text-align: center;
        margin: auto 10%;
    }

    &__description{
        margin: auto 10%;
    }

    &__overlay{
        &--1{
            width: 840px;
            height: 500px;
            left: 45vw;
            opacity: 1;
            position: absolute;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width: 991px){
                width: 680px;
                height: 400px;
                margin-top: 800px;
                margin-left: -280px;
            }

            @media (max-width: 767px){
                padding:0;
                width: 420px;
                height: 240px;
                margin-top: 600px;
                margin-left: -280px;
            }
        }
    }
}

body{
    background: #EFEFEF 0% 0% no-repeat padding-box;
}