@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import "../mixins";
@import "../colors.scss";
@import "../fonts.scss";


.about{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    
    &__container {   
        margin: 100px 0;
    }

    &__first-section{
        display: grid;
        grid-template-columns: 35% 65%;
        margin: 0 150px;
        padding: 10px;
        grid-gap:40px;
                
        @include mediaSm {
           display: block;
           margin: 15px;
           padding: 0;      
        }
        @include mediaMd {
            display: block;
            margin: 15px;
            padding: 10px;
            
            .section__title--container{
                margin-top: 40px;
            }
         }
        
        

        &-image{
          @include mediaSm {
         margin-bottom: 30px;
            
        }
     }
     &-description{
        z-index: 5;
        position: relative; 
        font-size: 20px;
        
        p{
            font-family: $mincho-font !important;
        }
        @include mediaSm {
            font-size: 17px;    
         }
     }
     
    }

    &__second-section{

        &-container{
            background-color: $white;
            padding-bottom: 70px;
            margin: 50px 0;
          
        }

        &-image{
            @include mediaSm {
                margin-top: 40px;     
               }
        }

           display: grid;
           grid-template-columns: 65% 35%;
           margin: 0 150px;
           padding: 10px;
           grid-gap:40px;
           margin-top:150px;
           align-content: center;
           padding: 100px 10px;
        @include mediaSm {
            display: block;
            margin: 15px ;
        }
        @include mediaMd {
            display: block;
            margin: 15px ;
            .about__second-section-image{
                margin-top: 70px;
            }
        }

      p{
        padding-left: 90px;
        padding-top: 60px;
        font-size: 20px;

        @include mediaSm {
            padding-left: 0;
            font-size: 17px;
        }

      }
      @include mediaSm {
        padding: 0 ;
        padding-top: 30px;
    }
    }

    &__third-section{

     z-index: 5;
     position: relative; 
     line-height: 1.5;

     @include mediaSm {
       margin: 5px;
    }
    &-content{
        padding: 0 25%;
        padding-bottom: 10%;
        z-index: 5;
        position: relative; 
       @include mediaSm {
        padding: 20px;
        padding-bottom: 60px;
    }
    @include mediaMd {
        padding: 0 40px;
        padding-bottom: 60px;
        
    }

    }
        
    }

    &__fourth--section{

        &-container{
            background: white;
             
          
         @include mediaMd {
            margin: 50px 0;
            padding: 50px 0; 
         }  
        }

        margin: 30px 0;
        padding: 60px;
    
        
        @include mediaMd {
            padding: 0 20px;  
        }
        
        

    }

    &__fifth--section{

        padding: 100px 60px;
        padding-top: 40px;

        &-container{   
          @include mediaSm {
            margin: 50px 0;
            padding: 20px 0 50px 0;
            
         }
         @include mediaMd {
            margin: 50px 0;
            padding: 30px 0; 
            padding-bottom: 70px;
         }
        }
        
    
        @include mediaSm {
            padding: 20px;
        }
        @include mediaMd {
            padding: 0 20px;  
        }
    }


    &__shadow {
        background: lighten($h-color, 50%);
        height: 250px;

        &.circle {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            @include mediaSm {
                width: 120px;
                height: 120px;
            }
        }

        &.rounded {
           width: 433px;
           border-radius: 300px;
           @include mediaSm {
               width: 150px;
               height: 100px;
           }
        }
        &.absolute-right {
            position: absolute;
            top: 0;
            left: 40%;
            z-index: -1;
            &-third-section{
                position: absolute;
                top: 0;
                left: 60%;
                z-index: -1;
            }

            @include mediaSm {
                left: 20%;
                top: 60%;
            }
        }
        

        &.absolute-left {
            position: absolute;
            z-index: -1;
            top: 15%;
            left: 0;
           
      }
    }
}

.section{
    &__title{

        &--container{
            padding-bottom: 30px;
            
        }
        &-centered{
            text-align: center;
        }
        color: $h-color;
        font-family: $title-font !important;
        font-weight: bold;
        font-size: 2.2em;
        position: relative;
        top: 30px;
        @include mediaSm {
            font-size: 2em;
            
        }
    }
    &__image{
        border: 3px solid $dark;
    }
    
    &__three-grid{
        display: grid;
        grid-template-columns: 45% 10% 45%;
        justify-content: center;
        align-items: center;
        margin: 50px 80px;
        font-size: 18px;
        @include mediaSm {
          display: block; 
          margin: 25px; 
          margin-top: 50px;
          font-size: 17px;
       }
       @include mediaMd {
        display: block; 
        margin: 25px; 
        margin-top: 50px;
     }
      
      }
      &__grid{

        &-item{
            padding: 0 60px;
            display:grid;
            grid-gap: 60px;
            margin: 0 auto;
            .info__card{
                h3{
                    font-size: 1.5rem;
                    font-family: $title-font !important;
                    font-weight: bold;
                    color:$h-color;
                }
                p{
                    font-size: 1.3rem;
                    font-family: $mincho-font !important;
                }
            }
        @include mediaSm {
            grid-gap: 30px;
            padding: 0;
            margin-bottom: 30px;
         }
        }
        &-line-divider{
            display: flex;
            justify-content: center;
        }
    }
    &__sub-content{
        padding: 0 25px;
    }
    
}


.partners {
    background: lighten($h-color, 60%);

    &__container {
        padding: 100px 200px;
        
        margin-top: 100px;
        @include mediaSm {
            padding: 60px 20px;  
            
        }
    }

    &__title {
        font-size: 2.5em;
        font-family: $title-font !important;
        color: $h-color;
        text-align: center;
        padding-bottom: 40px;

    }
    &__logo--grouped{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding:0 60px;

        @include mediaSm {
            grid-template-columns: 1fr;
        }

        &--item {
            width: 100% !important;

            

            &:first-child {
                transform: translateY(20px);
            }
        }
    }
    
}

body{
    background: #EFEFEF 0% 0% no-repeat padding-box;
}


.imglist li 
{   
    padding-top: 30px;
    list-style-image: url(../../images/plus-solid-6.png);
    span{
        font-size: 20px;
        font-family: $mincho-font !important;
        @include mediaSm {
            font-size: 17px;
        }
    }
}
li span{
    position: relative;
    top:-10px;
    font-size: 20px;
    
}

.quote{

    @include mediaSm {
        width: 50px !important;
        height: 44px !important;
    }

    &-visibility{
        @include mediaSm {
            display: none;
        }
    }
    &__heading-rotated{
        transform: rotateY(180deg);
        @include mediaSm {
            width: 50px !important;
            height: 44px !important;
        }
    
        &-shrinkable{
            transform: rotateY(180deg);
            @include mediaSm {
                width: 50px !important;
                height: 44px !important;
            }
        }
    
    }
    
}

.section__content-description{
    z-index: 5;
    position: relative; 
    font-size: 20px;
    p{
        font-family: $mincho-font !important;
    }

}

.company__name{
    font-family: 'Archivo Black', sans-serif !important; 
    @include mediaSm {
        font-size: 17px;
        
     }
}
.robotics-society-logo__title{
    text-align: center;
    font-family: $title-font !important; 


}
.partners__logo--grouped{
    
    img{
        
        @include mediaSm {
           margin: 40px 0;
           
        }  
    }
    
}
.robotics-society-logo__title{
    padding: 30px 0;
}