
@import "../fonts.scss";
@import "../utils.scss";
@import "../colors.scss";
@import '../mixins.scss';

.blog{
    &__header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        margin: 40px 10%;
        h2{
            font-size: 2em;
            font-family: $title-font !important;
            color: $h-color;
        }
        @media (max-width: 767px){
            flex-direction: column;
            justify-content: flex-start;
            margin: 40px auto;
            text-align: center;
        }
    }
}