@import '../colors.scss';
@import "../mixins.scss";
.contact{
    margin: auto;

    &__container{
        
        display: grid;
        place-content: center;
        height: 100vh;
        margin-left: 30%;

       
        @include mediaMd {
            padding: 1em;
            margin-left: 0;
        }
    }

    &__heading {
        font-size: 24px;
        font-weight: bolder;
    }

    &__overlay{
        &--1{
            top: -35%;
            left: -5%;
            width: 500px;
            height: 500px;
            opacity: 1;
            position: absolute;
            z-index: -1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: 991px){
                left:-20%;
            }
            @media (max-width: 767px){
                top: -15%;
                left: -15%;
                width: 250px;
                height: 250px;
            }

            @include mediaLg {
                top: -20%;
            }
        }

        &--2{
            top: 40%;
            left: 80%;
            width: 619px;
            height: 643px;
            opacity: 1;
            position: absolute;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: 991px){
                display: none;
            }

            @include mediaLg {
                display: none;
            }
        }
    }
}

.faq {
    height: 50vh;
    background: $dark;
    color: $white;
    padding: 20px;

    &__container {
        margin: auto 10%;
    }

    &__heading {
        color: $white;
        text-align: center;
    }

    .ant-collapse-header {
        color: white !important;
        font-size: 1.2rem;
    }

    .ant-collapse-content-box p {
        color: $white;
    }
}