@import "../colors.scss";
@import "../fonts.scss";
@import "../mixins.scss";

.contact {
  margin: auto;

  &__form {
    width: 80%;

    @include mediaSm {
      width: 100%;
      margin: auto 10%;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    &--button {
      background: $dark;
      color: $white;
      border-radius: 50px;
      padding: 0px 10px 0px 10px;
      /*
            &:first-child {
                background: #4267B2;
            }

            &:nth-child(2){
                background: radial-gradient(circle at 30% 80%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }*/
    }
  }

  &__container {
    display: grid;
    place-content: center;
    height: 100vh;

    @include mediaMd {
      padding: 1em;
      margin-left: 0;
    }
  }

  &__heading {
    font-size: 2rem;
    font-family: $title-font !important;
    font-weight: bold;
    color: $h-color;
    @include mediaSm{
      font-size: 1.2rem;
    }
  }
  &__description {
    font-size: 1.2em;
    font-family: $text-font !important;
    color: $p-color;
    @include mediaSm{
      font-size: 1rem;
    }
  }

  &__overlay {
    &--1 {
      @include overlayItem;
      width: 40vw;
      height: 100vh;
      margin-top: -70vh;
      margin-left: -20vw;
      @include mediaSm{
        width: 80vw;
        height: 100vh;
        margin-left: -25vw;
      }
    }

    &--2 {
      top: 40%;
      left: 80%;
      width: 619px;
      height: 643px;
      opacity: 1;
      position: absolute;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 991px) {
        display: none;
      }

      @include mediaLg {
        display: none;
      }
    }
  }
}

.faq {
  height: 100%;
  background: $dark;
  color: $white;
  display: flex;
  justify-content: center;
  @include mediaSm{
    height: 100vh;
  }

  &__container {
    margin: 5% 10%;
  }

  &__heading {
    color: $border-color;
    text-align: center;
    font-size: 2rem;
    font-family: $title-font !important;
    @include mediaSm{
      font-size: 1.4rem;
    }
  }

  .ant-collapse-header {
    color: $border-color !important;
    font-size: 1.4rem;
    font-family: $title-font !important;
    @include mediaSm{
      font-size: 1.2rem;
    }
  }

  .ant-collapse-content-box p {
    color: $white;
    font-size: 1.2rem;
    font-family: $mincho-font !important;
    @include mediaSm{
      font-size: 1rem;
    }
  }
  [data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
  .site-collapse-custom-collapse .site-collapse-custom-panel {
    border: 0px;
    overflow: hidden;
  }
}

