

.chips__container{
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin: 10px 10%;
}
.course{
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
  	transition: box-shadow 0.3s ease-in-out;
}
.course:hover{
	cursor: pointer;
	box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}

