
@import "../utils.scss";
@import "../colors.scss";
@import '../mixins.scss';

.home{
    margin: 0 auto;
    &__container{
        display: grid;
        place-content: center;
        height: 100vh;
        background: transparent;
        margin: auto 10%;
    }

    &__topics {
        background: $white;
        &--container {
            margin: auto 10%;
            padding: 50px auto;
        }
        &--grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
            padding-bottom: 50px !important;

            @include mediaMd {
                grid-template-columns: 1fr;
            }
        }

        &--title {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 100px;
            margin-top: 50px;
            padding-top: 50px !important;
        }
    }

    &__news {
        background: $dark;
        padding: 20px;
        z-index: 10;

        &--title {
            color: $white;
            text-align: center;
            text-decoration: underline;
        }

        &--grid {
            margin: 80px 10%;
            display: flex;
            justify-content: space-evenly;

            @include mediaMd {
                display: block;
            }
        }
    }

    &__newsletter {
        margin: 30px 25%;
        transform: translateY(30px);
        form {
            display: flex;

            @include mediaMd {
                display: block;

                input[type="email"]{
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }

    &__grid{
        display:grid;
        grid-template-columns: repeat(3,minmax(500px, 1fr));
        grid-gap: 30px;
        position: relative;
        margin-bottom: 5%;
        align-items: center;
    

        @media (max-width: 1199px){
     
        }

        @media (max-width: 991px){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items:center;           
        }

        @media (max-width: 767px){
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items:center;
        }
        

        &--item{

            &:nth-child(2){
                h1{
                    font-family: $hfont !important;
                    color: $h-color;
                    font-size: 3.2em;
                }
                p{
                    font-size: 1.4em;
                    color: $p-color;
                }

                @media (max-width: 1199px){
                    
                }

                @media (max-width: 991px){
                    grid-row:2;
                }
              
                @media (max-width: 767px){
                    grid-row:2;
                    text-align: center;
                    h1{
                    font-size: 2em;
                    }
                    p{
                        font-size: 1em;
                    }
                }
            }

            .hero{
                &__image{
                    position: relative;
                    width: 400px;

                    @media (max-width: 1199px){
                        
                    }

                    @media (max-width: 991px){
                       
                    }

                    @media (max-width: 767px){
                        width: 60vw;
                    }

                }
            }

            &:last-child{
                @media (max-width: 1199px){
                }
                @media (max-width: 991px){
                    grid-row:1;   
                }
                @media (max-width: 767px){
                    grid-row:1;
                }
            }
        }
    }

    &__overlay{

        width: 100vw;
        position: absolute;
        overflow: hidden;
        margin-top: -10%;
        z-index: -1;

        &--1{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 900px;
            height: 600px;
            margin-top: -250px;
            margin-left: -300px;

            @media (max-width: 1199px){
                
              
            }
            
            @media (max-width: 991px){
               margin-top: -320px;
               margin-left: -200px;
            }
           
            @media (max-width: 767px){
                margin-top: -340px;
                margin-left: -300px;
            }
        }
        &--2{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 2000px;
            height: 600px;
            margin-left: -500px;
            

            @media (max-width: 1199px){
                
            }

            @media (max-width: 991px){
               
            }
           
            @media (max-width: 767px){
                margin-left: -800px;
            }

        }
    }

}

body.home{
    overflow: auto;
    height: 100vh;
    width: 100vw;

    @media (max-width: 1199px){
       
    }

    @media (max-width: 991px){
       
    }
    @media (max-width: 767px){
                
    }
}
