.button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;

  &.is-primary {
    background: #363232;
    color: #fff;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 4px 10px 18px rgba(0, 0, 0, 0.2);
      background: #10a5f5;
      color: #fff;
      transform: translateY(-3px);
      transition: 0.4s;
    }
  }
}
