@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/mixins.scss";

.revealer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	&__header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		min-width: 30vw;
		height: 40px;
		margin-bottom: 10px;

		&__icon {
			width: 20px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 20px;
		}
		&__heading {
			padding: 5px 10px;
			margin-left: 10px;
			background: $white;
			border-radius: 50px;
			height: 40px;
			text-align: center;
			@include mediaSm{
				padding: 10px 10px;
			}
			span {
				font-size: 1.2rem;
				font-family: $title-font !important;
				font-weight: bold;
				color: $dark;
				@include mediaSm{
					font-size: 1rem;
				}
			}

			&:hover {
				cursor: pointer;
				background: $light-grey;
			}
		}
	}
	&__content {
		color: $white;
		background: $not-grey;
		padding: 20px;
		margin-bottom: 1rem;
		border-radius: 100px;
		font-family: $mincho-font !important;
		@include mediaSm{
			font-size: 0.9rem;
		}
		
		&--hide {
			display: none;
		}
		&--unhide {
			display: block;
		}
	}
}
