@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import '../../assets/styles/mixins.scss';

p{
    line-height: 1.6;
}
h3{
    text-align: center;
    font-family: 'Archivo Black', sans-serif !important;
}
