.avatar{
    width: 45px !important;
    height: 45px !important;
    outline: none !important;

}

.team {
    &__avatar {
        width: 75px !important;
        height: 75px !important;
        border: 5px solid lighten(grey, 50%);
        border-radius: 50%;
        padding-bottom: 40px;

        &:hover {
            border: 5px solid lighten(grey, 20%);
            transition: .5s ease;
            cursor: pointer;
        }
    }
}