@import '../../assets/styles/mixins.scss';
.team{
    background: lighten(lightgrey, 5%);
    padding: 70px;
    height: 50vh !important;
    &__list{
        display: flex;
        justify-content: space-evenly;

        @include mediaSm {
            display: block;
        }
    }
    height: 10vh;
    display: grid;
    place-content: center;
    text-align: center;

    &__member{
        margin-right: 20px;

        @include mediaSm {
            margin-top: 20px;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }
}