button.ant-btn{
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 10px;
    background: transparent;

    img{
        width: 45px !important;
        height: 45px !important;
        border-radius: 100%;
    }

    &:hover{
        background: transparent;
    }

    &:focus{
        border: none;
        background: transparent;
    }
}