@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/mixins.scss';
.topic {
    padding: 20px;
    text-align: center;

    &__caption {
        display: inline-block;
        font-family: $heading-font !important;
        font-size: 1em;
        color: $dark;
        margin: 10px auto;
        text-transform: uppercase;
    }

    img {
        display: inline-block;
        position: relative;
        width: 100px !important;
        height: 100px !important;
    }

    @include mediaMd {
        margin: auto 10%;
    }

    .ant-popover-inner {
        background: $dark !important;
    }

    &__popover {
        a {
            color: $dark;
        }
    }
}