@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/mixins.scss';
.topic {
    padding: 20px;
    text-align: center;

    &__caption {
        display: inline-block;
        font-family: $title-font !important;
        font-size: 1.2rem;
        color: $dark;
        margin: 10px auto;
    }
    &__icon{
        img {
            display: inline-block;
            position: relative;
            width: 5rem !important;
            height: 5rem !important;
            fill: $dark !important;
        }
        @include mediaMd {
            margin: auto 10%;
        }
    }
  

    .ant-popover-inner {
        background: $dark !important;
    }

    &__popover {
        a {
            color: $dark;
            font-family: $title-font !important;
            font-weight: bold;
        }
    }
}