.blog__search{
    &--input{
        &[type="search"]{
          background: #FFF !important;
          margin-right: 20px !important;
          border-radius: 15px !important;
          width: 350px !important;
          height: 28px !important;
          outline: none !important;
          padding: 5px !important;
          &::placeholder{
             padding: 20px;
          }
        }
    }

    &--submit{
        &[type="submit"]{
            border-radius: 100% !important;
            background: #4B4949;
            width: 40px;
            height: 40px;
            display: grid;
            place-content: center;
            position: relative;

            img{
                width: 40%;
                height: 40%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}