footer{
    position: absolute;
    bottom: 0 auto;
    width: 100%;
    min-height: 100vh;
    background-color: #363333;
    color: white;
    text-decoration: none;
  
    div.flex_container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding-top: 40px;
  
      div img.footer_logo{
        width: 200px;
      }
      div h4.sub_heading{
        color: white;
        font-size: 2em;
      }
      div ul a{
        color: white;
        font-size: 1.2em;
        &:hover{
          color: grey;
        }
      }
      div ul.inline{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
      }
    }
    hr.footer_divider{
      width: 80vw;
      margin-bottom: 40px;
      border: .5px solid grey ;
    }
    div.flex_low{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding:0 80px;
      a{
        color: white;
        font-size: 1.5em;
        &:hover{
          color: grey;
        }
      }
    }
  
  }

  ul.links__list{
      list-style: none;
  }

  a{
      text-decoration: none;
  }
  