.footer{
    position: absolute;
    bottom: 0 auto;
    width: 100%;
    background-color: #363333;
    color: white;
    text-decoration: none;
    margin-top: 100px;
  
    &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 40px 0 20px 0;

      &--low{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 0 80px 40px 80px;
        a{
          color: white;
          font-size: 1.5em;
          &:hover{
              color: grey;
              cursor: pointer;
          }
        }
      }
    }

    &__subcontainer{
      .brand-logo img.footer-logo{
        width: 200px;
      }
      .sub-heading{
        color: white;
        font-size: 2em;
      }
      
      &--list{
        list-style: none;
        a{
          text-decoration: none;
          color: white;
          font-size: 1.2em;
          &:hover{
            color: grey;
            cursor: pointer;
          }
        } 
      }
      .inline{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
      } 
    }

    &__divider{
      width: 80vw;
      margin-bottom: 40px;
      border: .5px solid grey ;
    } 
}

  

  
  