@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/utils.scss";
@import "../../assets/styles/colors.scss";

.footer {
  position: absolute;
  bottom: 0 auto;
  width: 100%;
  background-color: #363333;
  color: white;
  text-decoration: none;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 40px 0 20px 0;

    @media (max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }

    &--low {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 0 80px 40px 80px;

      @media (max-width: 767px) {
        flex-direction: column;
      }

      a {
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: grey;
          cursor: pointer;
        }
        @media (max-width: 767px) {
          font-size: 1rem;
        }
      }
    }
  }

  &__subcontainer {
    .brand-logo img.footer-logo {
      width: 200px;

      @media (max-width: 767px) {
        width: 100px;
      }
    }
    .sub-heading {
      color: white;
      font-size: 2rem;
      @media (min-width: 320px) {
        font-size: 1.4rem;
      }
    }

    &--list {
      list-style: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: grey;
          cursor: pointer;
        }
        @media (max-width: 767px) {
          font-size: 1.2em;
        }
      }
    }
    .inline {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      list-style: none;
      @media (max-width: 767px) {
        justify-content: space-around;
      }
    }
  }

  &__divider {
    width: 80vw;
    margin-bottom: 40px;
    border: 0.5px solid grey;
  }
}
