.content__search{
    &--input{
        &[type="search"]{
          background: #FFF !important;
          border-radius: 15px !important;
          width: 350px !important;
          height: 28px !important;
          outline: none !important;
          padding: 5px !important;
          &::placeholder{
             padding: 20px;
          }
        }
    }
}

