.blog{
    &__item{
        background: #FFF;
        border: 1px solid #4B4949;
        margin: 50px 10%;
        padding: 20px;

        &--undefined{
            width: 35px;
            height: 35px;
            background: #4B4949;
            border-radius: 100%;
        }

        &--heading{
            display: flex;
            justify-content: space-between;
            margin: 10px auto;
        }

        &--footer{
            text-align: right;
        }

        &--title{
            font-weight: bold;
        }
    }

    &__like{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
}