@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';
.news {
    &__card {
        background: $white;
        max-width: 30vw;
        padding: 30px 30px 40px 30px;
        position: relative;
        color: $dark;
        &:last-child{
            transform: translateY(80px);
        }

        @media(max-width: 768px){
            max-width: 100%;
        }

        &--link{
            float: right;
            font-family: $heading-font;
            font-weight: bold;
            color: $dark;
            text-decoration: underline;
        }

        &--title {
            margin-bottom: 20px;
            &-link {
                color: $dark;
                text-decoration: underline;  
                font-weight: bold;
            }
        }

        &--description {
            p {
                line-height: 1.8;
                font-size: 1.3rem;
                font-family: 'Playfair Display', serif !important;
                font-weight: 100 !important;
            }
        }

        &--quote {
            position: absolute;
            top: -55px;
            right: -25px;
        }
    }
}