@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@font-face{
	font-family: titiliumWeb;
	src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
}
@font-face{
	font-family: openSans;
	src:url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
@font-face{
	font-family: notoSerifKr;
	src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
}
@font-face{
	font-family: amiri;
	src:url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
}
@font-face{
	font-family: lato;
	src:url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}
@font-face{
	font-family: titiliumWeb900;
	src:url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
}


/*Variables*/
$heading-font:titiliumWeb,sans-serif;
$title-font:titiliumWeb900,sans-serif;
$text-font:openSans,sans-serif;
$paragraph-font:'Noto Serif KR', serif;
$footer-font:'Lato', sans-serif;
$input-font:'Amiri', serif;
