@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@font-face {font-family: "MS Mincho";
    src: url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.eot"); /* IE9*/
    src: url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.woff2") format("woff2"), /* chrome firefox */
    url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.woff") format("woff"), /* chrome firefox */
    url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("//db.onlinewebfonts.com/t/e1ac498516da18eec7c7b667b7cde758.svg#MS Mincho") format("svg"); /* iOS 4.1- */
}
@font-face{
	font-family: titiliumWeb;
	src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
}
@font-face{
	font-family: openSans;
	src:url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
@font-face{
	font-family: notoSerifKr;
	src:url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
}
@font-face{
	font-family: amiri;
	src:url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
}
@font-face{
	font-family: lato;
	src:url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}
@font-face{
	font-family: titiliumWeb900;
	src:url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
}


/*Variables*/
$heading-font:titiliumWeb,sans-serif;
$title-font:titiliumWeb900,sans-serif;
$text-font:openSans,sans-serif;
$paragraph-font:notoSerifKr, serif;
$footer-font:lato, sans-serif;
$input-font:amiri, serif;
$mincho-font:"MS Mincho",sans-serif;
