@import "./colors.scss";
@import "./utils.scss";
@mixin easeIn($s) {
  transition: $s ease-in;
}
@mixin ease($s) {
  transition: $s ease;
}

@mixin easeInOut($s) {
  transition: $s ease-in-out;
}
@mixin transDelay($s) {
  transition-delay: $s;
}
@mixin easeOut($s) {
  transition: $s ease-out;
}

//Small Devices
@mixin mediaSm {
  @media (max-width: $mobile) {
    @content;
  }
}

//Medium (tablets)
@mixin mediaMd {
  @media (max-width: $tablet) {
    @content;
  }
}

//Small laptops and desktops
@mixin mediaLg {
  @media (max-width: $desktop-max) and (min-width: $tablet+1) {
    @content;
  }
}

//Large devices
@mixin mediaXL {
  @media (min-width: $desktop-max+1) and (min-width: $desktop-umax) {
    @content;
  }
}
//XLarge devices
@mixin mediaXXL {
  @media (min-width: $desktop-umax+1) {
    @content;
  }
}

@mixin overlayItem {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  z-index: -1;
}
