
// Breakpoints for responsiveness
$mobile: 480px;
$tablet: 768px;
$desktop-min: 769px;
$desktop: 1024px;
$desktop-max: 1201px;
$desktop-umax: 1400px;
*,
html,
body {
	font-family: "Muli", sans-serif !important;
	font-size: 16px;
	@media (min-width: $mobile) {
		font-size: 18px;
	}
	@media (min-width: $desktop-max) {
		font-size: 16px;
	}
	@media (min-width: $desktop-umax) {
		font-size: 20px;
	}

}

ul {
	list-style: none;
}
