
.post {
    margin: 40px 15%;

    &__author {
        font-weight: bolder;
    }
}

.course_page {
top: 0px;
left: 0px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
