@import "../assets/styles/colors.scss";
@import "../assets/styles/fonts.scss";
@import "../assets/styles/mixins.scss";

.post {
    margin: 40px 8%;
    &__author {
        font-weight: bolder;
    }
}

.post__content {
    top: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 20px;
    padding: 2%;
}

.post__title {
    color: var(--unnamed-color-4b4949);
    text-align: left;
    font-family: $title-font !important;
    font-weight:bold;
    font-size:2rem;
    padding:0;
    margin:0;
    letter-spacing: 0px;
    color: $h-color;
    opacity: 1;
    
}
.post__author{
    color:$h-color;
    letter-spacing: 0px;
    margin:0;
    padding:0;
}

.post__date{
    color: var(--unnamed-color-a1a0ac);
    text-align: left;
    font: Regular 30px/36px SimSun;
    letter-spacing: 0px;
    color: #A1A0AC;
    opacity: 1;
}
.markdown__image{
    box-shadow:none;
    margin-bottom:1rem;
}

.markdown__content{
    padding-top: 5vh;
}
.markdown__section {
    padding-top:1rem;
    color: var(--unnamed-color-3f3d56);
    text-align: left;
    font-family: $title-font !important;        
    font-weight: bold;
    letter-spacing: 0px;
    color: $h-color;
    opacity: 1;
    border-bottom: 4px solid $border-color;
    border-radius:2px;
    display: inline-block;
    padding-bottom: 2px;
    
    font-size:1.2rem;
    .test{
        font-family: $title-font !important;
        font-weight: bold;
    }
}


.markdown__sub-section{
    padding-top:1rem;
    color: var(--unnamed-color-3f3d56);
    text-align: left;
    letter-spacing: 0px;
    color: #3F3D56;
    opacity: 1;
}
.markdown__sub-section > span{
    background-color: #E0D3D3;
    font-family:$title-font !important;
    font-size:1.2rem;
    font-weight:bold;
    padding:3px;
    border-radius: 1px;
    margin-bottom:-2px;
    
}




.markdown_paragraph{
    padding-top:0.2rem;
    color: var(--unnamed-color-605f60);
    text-align: left;
    font: Regular 30px/36px SimSun;
    letter-spacing: 0px;
    color: #605F60;
    font-size:1.1rem;
    opacity: 1;
}

ol{
    font-size:1.2rem;
}



.markdown__button{
    position: relative;
    width: 60%;
    height: 20%;
    padding: 1.4rem 3rem;
    border: none;
    outline: none;
    color: $white;
    font-size: 1.4em;
    border-radius: 50px;
    cursor: pointer;
    margin:0 auto;
    font-family: $title-font !important;
    font-weight:bold;

    &.is-primary{
        background: $dark !important;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.has-bg-primary {
       background: $dark !important;
       border-color:$dark-grey !important;
       border:1px solid $dark-grey;
       color: $white;
    }
    @media(min-width: 1920px){
        width: 60%;
        height: 14%;

    }
}
.markdown__button__overlay{
    position:absolute;
    padding:0;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:50px;
    margin: auto;
    background:$dark-grey;
    opacity: 0.4;
    z-index: 2;
    transition: opacity .5s ease-in-out;

    &:hover{
        opacity: 0;
    }
}







